<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Подключаем Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>Новость: {{new.title}} </title>
</head>
<body>
  <div id="wrapper">
    {% include 'navup.html'%}
    <!-- Контент страницы -->
    <div class="container my-3">
      <div class="row">
        <div class="col-md-8">
          <h1>{{ new.title }}</h1>
          {% if new.created_date %}
          <span>Дата создания: </span><span class="badge badge-primary">{{ new.created_date.strftime('%d.%m.%Y') }}</span>
          {% endif %}
          {% if new.category %}
          <span>Категория: <a href="{{ url_for('news_in_category', id=new.category.id) }}" class="badge badge-primary">{{ new.category.title }}</a></span>
          {% endif %}
          <hr>
          <p>{{ new.text }}</p>
        </div>
        {% include 'side_navigation.html'%}
      </div>
      
    </div>
    <!-- Подвал -->
    <footer id="footer" class="bg-dark text-white text-center py-3">
      &copy; 2023 Новости. Все права защищены.
    </footer>
  </div>
<!--    &lt;!&ndash; Подключаем Bootstrap JS &ndash;&gt;-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>